<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= (@user.errors.count) %> 個のエラーがあります</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "メールアドレス" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "パスワード" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "確認のためもう一度" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
