<!DOCTYPE html>
<html>
  <head>
    <title>ぶくまとめ</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <%= link_to "ぶくまとめ", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム", root_path %></li>
            <% if current_user %>
            <li><%= link_to "ログアウト", 'logout', method: :post %></li>
            <li><%= link_to current_user.email, edit_user_path(current_user) %></li>
            <% else %>
            <li><%= link_to "ログイン", 'login' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="page_about">
    <%= yield %>
  </div>
  </body>
</html>
